/* Font List  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Common styles or utilites */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF; 

} 
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-tittle{
    color: #562EFF;
    margin-top: 33px;
    font-size: 18px;
    margin-bottom: 50px;
}
.container{
    width: 870px;
    height: 779px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    
    
    background-color: #FFFFFF;
}


/* Top Players Style */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 20px;
    font-size: 18px;
    color: aqua;
}
.player img{
    height: 56px;
    width: 56px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 20px;
}

/* <----------------------blogs style here-------------------->*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}
.blog-thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    font-size: 16px;
    margin-left: 20px;
}
.blog-info a{
    color: #562EFF;
    text-decoration: none;
}


/* <-------------- course banner styles are here----------------->  */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.course-banner img{
    width: 224px;
    height: 106px;
}
.course-name{
    font-size: 18px;
    color: #472ce3;
}
.author-name{
    font-size: 12px;
    color: red;
}
.fa-star{
    color: #FFC014;
    font-size: 10px;

}
.fa-regular{
    color: #AEAEAE;
}
.course-ratings{
    display: flex;
    align-items: center;
    justify-content: start;
}
p{
    margin-right: 15px;
    margin-left: 15px;
}

/* <------------------------------ Media Qureys Syles Are Here --------------------------> */

/* <-------------Mobile Devices---------> */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .players, .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
    }
    .player{
        flex-direction: column;
        justify-content: center;
    }
}