/* Font List  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Common styles or utilites */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF; 

} 
main{
    display: flex;
    justify-content: center;
}
.section-tittle{
    color: #562EFF;
    margin-top: 33px;
    font-size: 18px;
    margin-bottom: 50px;
}
.container{
    width: 870px;
    height: 779px;
    padding: 30px;
    
    
    background-color: #FFFFFF;
}


/* Top Players Style */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 20px;
    font-size: 18px;
    color: aqua;
}
.player img{
    height: 56px;
    width: 56px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 20px;
}

/* <----------------------blogs style here-------------------->*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}
.blog-thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    font-size: 16px;
    margin-left: 20px;
}
.blog-info a{
    color: #562EFF;
    text-decoration: none;
}